<html>
  <head>
    <script type="text/javascript" src="https://js.stripe.com/v1/"></script>
    <script src="http://code.jquery.com/jquery-latest.js"></script>
     <script type="text/javascript" src="http://jzaefferer.github.com/jquery-validation/jquery.validate.js"></script>
<style type="text/css">
* { font-family: Verdana; font-size: 96%; }
label { width: 10em; float: left; }
label.error { float: none; color: red; padding-left: .5em; vertical-align: top; }
p { clear: both; }
.submit { margin-left: 12em; }
em { font-weight: bold; padding-right: 1em; vertical-align: top; }
</style>

    <script type="text/javascript" src="{{STATIC_URL}}js/main.js"></script>
  </head>
  <body>
    <div id="creditcard-lb">
      <form  class="cmxform" method="POST" id="payment-form" action="">
	<p><label for="txt_firstname"><span>First Name:</span></label>
         <em>*</em> <input type="text" class="required" id="txt_firstname" name="firstname" /></p>
	<p><label for="txt_lastname"><span>Last Name:</span></label>
        <em>*</em>  <input type="text" class="required" id="txt_lastname" name="lastname" /></p>
	<p><label for="txt_address1"><span>Address 1:</span></label>
         <em>*</em> <input type="text" class="required" id="txt_address1" name="address1" /></p>
	<p><label for="txt_address2"><span>Address 2:</span></label>
         <em>*</em> <input type="text" class="required" id="txt_address2" name="address2" /></p>
	<p><label for="txt_city"><span>City:</span></label>
         <em>*</em> <input type="text" class="required" id="txt_city" name="city" /></p>
	<p><label for="txt_state"><span>State or Province:</span></label>
         <em>*</em> <input type="text" class="required" id="txt_state" name="state" /></p>
	<p><label for="txt_zipcode"><span>Zip or Pin Code:</span></label>
         <em>*</em> <input type="text" class="required" id="txt_zipcode" name="zipcode" /></p>
	<p><label for="txt_country"><span>Country:</span></label>
         <em>*</em> <input type="text" class="required" id="txt_country" name="country" /></p>
	<p><label class="card-number" for="txt_cardno"><span>Card Number:</span></label>
         <em>*</em> <input type="text" class="required" size="20" autocomplete="off"  id="txt_cardno" name="cardno" /></p>
	<p class="caution"><label for="txt_cvv"><span>CSC:</span></label>
         <em>*</em> <input type="text" class="required" size="4" autocomplete="off"  id="txt_cvv" name="cvv" /> </p>
	<p>
          <label for="txt_expmonth"> <span>Card Expiry:</span></label>
         <em>*</em> <input type="text" class="required" size="2"class="card-expiry-month" id="txt_expmonth" name="expmonth" placeholder="MM"  />
         <em>*</em> <input type="text" class="required" size="4"	 id="txt_expyear" name="expyear" placeholder="YYYY" />
        </p>
	<p class="submit submit-button">
          <input type="submit" class="btn" id="chargecard" value="Charge Card"> 
          <input type="submit" class="btn" id="goback" value="Go Back"> 
          <!-- <a class="btn" href="#">Charge Card</a><br> -->
          <!-- <a class="btn" href="#" onClick="return false">Go Back</a> -->
        </p>
	<div class="clear"></div>
      </form>
    </div>
  </body>
</html>
