<html>
  <head>
    <script type="text/javascript" src="https://js.stripe.com/v1/"></script>
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.6.2/jquery.min.js"></script>
    <script type="text/javascript" src="{{STATIC_URL}}js/main.js"></script>
  </head>
  <body>
    <div id="creditcard-lb">
      <form method="POST" id="payment-form">
	<p><label for="txt_firstname"><span>First Name:</span></label>
          <input type="email" id="txt_email" name="firstname" /></p>
	<p><label for="txt_lastname"><span>Last Name:</span></label>
          <input type="text" id="txt_lastname" name="lastname" /></p>
	<p><label for="txt_address1"><span>Address 1:</span></label>
          <input type="text" id="txt_address1" name="address1" /></p>
	<p><label for="txt_address2"><span>Address 2:</span></label>
          <input type="text" id="txt_address2" name="address2" /></p>
	<p><label for="txt_city"><span>City:</span></label>
          <input type="text" id="txt_city" name="city" /></p>
	<p><label for="txt_state"><span>State or Province:</span></label>
          <input type="text" id="txt_state" name="state" /></p>
	<p><label for="txt_zipcode"><span>Zip or Pin Code:</span></label>
          <input type="text" id="txt_zipcode" name="zipcode" /></p>
	<p><label for="txt_country"><span>Country:</span></label>
          <input type="text" id="txt_country" name="country" /></p>
	<p><label class="card-number" for="txt_cardno"><span>Card Number:</span></label>
          <input type="text" size="20" autocomplete="off"  id="txt_cardno" name="cardno" /></p>
	<p class="caution"><label for="txt_cvv"><span>CSC:</span></label>
          <input type="text" size="4" autocomplete="off"  id="txt_cvv" name="cvv" /> </p>
	<p>
          <label for="txt_expmonth"> <span>Card Expiry:</span></label>
          <input type="text" size="2"class="card-expiry-month" id="txt_expmonth" name="expmonth" placeholder="MM"  />
          <input type="text" size="4"	 id="txt_expyear" name="expyear" placeholder="YYYY" />
        </p>
	<p class="submit submit-button">
          <a class="btn" href="#">Charge Card</a><br>
          <a class="btn" href="#" onClick="return false">Go Back</a>
        </p>
	<div class="clear"></div>
      </form>
    </div>
  </body>
</html>
